<nav class="navbar bg-body-tertiary navbar-gradient">
  <div class="container">

    <!-- Logo-home -->
    <a class="navbar-brand d-flex align-items-center" href="/" data-target="home" id="logo-link">
      <img src="https://plpstore.com.br/img/logo.png" alt="Logo" width="50" height="50" class="me-2">
      <span class="fw-bold">PLP Store</span>
    </a>
    <!-- Campo de Busca -->
    <form class="d-flex me-3">
      <input class="form-control me-2" type="search" placeholder="Busque na PLP Store?" aria-label="Search">
      <button class="btn btn-outline-dark" type="submit"><i class="bi bi-search"></i></button>
    </form>

    <div class="d-flex align-items-center">
      <button class="btn btn-carrinho-navbar btn-outline-dark position-relative me-3" type="button" id="buttonAdd">
        <i class="bi bi-cart-fill"></i>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          3 <!-- deve ser ajustado dinamicamente com a quantidade de itens no carrinho -->
        </span>
      </button>
     
      <button class="btn btn-outline-dark me-3" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="bi-person-circle"> Login</span>
      </button>
    </div>


    <!-- Offcanvas Menu -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Login</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <form>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" placeholder="seuemail@exemplo.com">
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Senha</label>
            <input type="password" class="form-control" id="password">
          </div>
          <button type="submit" class="btn btn-primary w-100">Entrar</button>
        </form>
        <hr>
        <p class="text-center">
          Ainda não tem uma conta? <a href="#">Cadastre-se</a>
        </p>
      </div>
    </div>

  </div>
</nav>