<nav class="navbar bg-body-tertiary navbar-gradient">
  <div class="container">
    <!-- Logo -->
    <a class="navbar-brand d-flex align-items-center" href="/" aria-label="Página inicial">
      <img src="https://plpstore.com.br/img/logo.png" alt="Logo PLP Store" width="50" height="50" class="me-2"
        id="logo-link">
      <span class="fw-bold">PLP Store</span>
    </a>

    <!-- Busca (oculto em mobile) -->
    <form class="d-none d-md-flex" action="/buscar" method="GET">
      <div class="col-auto">
        <input class="form-control m-auto" type="search" placeholder="Buscar na PLP Store" aria-label="Buscar"
          id="campoBusca" name="busca">
      </div>
      <div class="col-auto">
        <button class="btn btn-outline-dark " type="submit" aria-label="Pesquisar">
          <i class="bi bi-search"></i>
        </button>
      </div>
    </form>

    <div class="d-flex align-items-center">
      <!-- Carrinho -->
      <a class="btn btn-carrinho-navbar btn-outline-dark position-relative me-3" href="/carrinho-compras">
        <i class="bi bi-cart-fill"></i>
        <span class="position-absolute start-100 translate-middle badge rounded-pill bg-danger" id="quantidadeCarrinho">
          <%= carrinho.obterQuantidadeTotal() %>
        </span>
      </a>

      <!-- Login -->
      <button class="btn btn-outline-dark" id="openModal" type="button" data-bs-target="#myModal" data-bs-toggle="modal"
        aria-label="Abrir menu de login">
        <i class="bi bi-person-circle"></i>
        <span class="d-none d-md-inline">Login</span>
      </button>

      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="myModalLabel">Login</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form id="loginForm" onsubmit="return handleSubmit(event)">
                <div class="form-floating mb-3">
                  <input type="email" class="form-control rounded-3" id="floatingInput" placeholder="name@example.com"
                    required>
                  <label for="floatingInput">E-mail</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="password" class="form-control rounded-3" id="floatingPassword" placeholder="Password"
                    required>
                  <label for="floatingPassword">Senha</label>
                </div>

                <hr class="my-4">
                <p class="text-center mb-0">
                  <a href="#" id="registerLink" class="text-decoration-none">Cadastrar</a>
                </p>
                <div id="message" class="text-center mt-3"></div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-custom-primary" id="btnSubmit" type="submit">Entrar</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<script>
  // Função para atualizar a quantidade do carrinho
  function atualizarQuantidadeCarrinho() {
    fetch('/carrinho')
      .then(response => {
        if (!response.ok) {
          throw new Error('Erro ao buscar o carrinho');
        }
        return response.json();
      })
      .then(data => {
        const carrinhoQtd = document.getElementById('quantidadeCarrinho');

        if (!carrinhoQtd) {
          console.error('Elemento carrinhoQtd não encontrado.');
          return;
        }

        // Atualizando o conteúdo e visibilidade do badge
        if (data && data.obterQuantidadeTotal() > 0) {
          carrinhoQtd.textContent = data.totalItens;
          carrinhoQtd.style.display = "inline-block";
        } else {
          carrinhoQtd.textContent = "";
          carrinhoQtd.style.display = "none";
        }
      })
      .catch(error => {
        console.error('Erro ao atualizar o carrinho:', error);
      });
  }

  // Atualizar o carrinho assim que a página for carregada
  document.addEventListener('DOMContentLoaded', atualizarQuantidadeCarrinho);
</script>